:root{
    --black: #282B2B;
    --grey: #4B4B4B;
    --light-grey: #9F9F9F;
    --blue: #51AFD0;
    --green: #87E8D7;
    --cian: #ACF0FF;
    --orange: #FF9D00;
    --yellow: #FFC600;
    --white: #FFFFFF;

    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/images/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 1.125rem;
}
main{
    min-height: 100vh;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 800;
}
h1{
    font-size: 4rem;
}
h1 span{
    background: linear-gradient(90deg, var(--blue) 0%, var(--green) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
header{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.arrow-down{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    right: 50%;

}
/* Hero Content */
.hero-content{
    max-width: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

/* Buttons */
.buttons-container{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}
.btn {
    padding: 0.875rem 2.25rem;
    border-radius: 100px;
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.45s ease;
    background-color: transparent;
    cursor: pointer;
}
.btn-primary {
    background: linear-gradient(90deg, var(--blue) 0%, var(--green) 100%);
    color: var(--black);
    border: 2px solid var(--blue);
}
.btn-secondary {
    color: var(--white);
    border: 2px solid var(--white);
}
.btn-primary:hover {}
.btn-secondary:hover {}
/* Hero Ide */
.hero-ide{
    background-color: var(--black);
    width: 527px;
    height: 407px;
    border-radius: 12px;
    border: 1px solid var(--grey);
}
.languaje{
    display: block;
    color: var(--blue);
    padding: 0.875rem 2.25rem;
}
.divider-ide{
    width: 100%;
    background-color: var(--grey);
    height: 1px;
}
.ide-path{
    color: var(--light-grey);
}
.ide-content{
    padding: 1.3125rem 2.25rem ;
}
.ide-code{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.ide-code ul{
    list-style: none;
}
.ide-code-left li{
    display: flex;
    gap: 2rem;
    color: var(--light-grey);
}
.ide-code-left li span{
    color: var(--yellow);
}
.ide-code-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ide-code-right li{
    font-weight: 600;
    color: var(--cian);
}
.ide-code-right li span{
    color: var(--orange);
    font-weight: 300;
}

/* DISCOS */
.error{
    width: 100%;
    text-align: center;
    margin-top: 16rem;
}